div.outdated {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto minmax(auto, 1fr);
	gap: var(--sp-2);
	align-items: start;
	width: 100%;
	margin: var(--sp-5) 0;
	padding: var(--sp-3);
	background-color: var(--bg-neutral);
	border-left: 3px solid var(--primary);
	color: var(--text-base-content);
	text-align: start;
	line-height: 1.6;
}

div.outdated svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--primary);
	margin-top: 0.1em;
}

div.outdated strong {
	display: inline;
	font-weight: 700;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary);
}
