.pagination div {
	padding-top: var(--sp-3);
	padding-bottom: var(--sp-4);
	margin-top: 0.5rem;
}

@media (min-width: 768px) {
	.pagination div {
		margin-top: var(--sp-2);
	}
}

.pagination div nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination div nav > a {
	opacity: 1;
	color: var(--primary);
}

.pagination div nav > a > button {
	color: var(--primary);
}

.pagination div nav button {
	color: var(--text-base-content);
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: all 0.3s ease;
	padding: var(--sp-1) var(--sp-2);
	border-radius: 2px;
}

.pagination div nav button:hover {
	color: var(--white);
	background-color: var(--primary);
}

.pagination div nav > button:disabled {
	opacity: 0.4;
}
