div.pagination {
  padding-top: var(--sp-3);
  padding-bottom: var(--sp-4);
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  div.pagination {
    margin-top: var(--sp-2);
  }
}

div.pagination nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.pagination nav > a {
  opacity: 1;
  color: var(--primary);
}

div.pagination nav > a > button {
  color: var(--primary);
}

div.pagination nav button {
  color: var(--text-base-content);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: var(--sp-1) var(--sp-2);
  border-radius: 2px;
}

div.pagination nav button:hover {
  color: var(--white);
  background-color: var(--primary);
}

div.pagination nav > button:disabled {
  opacity: 0.4;
}
