.devices-page > h1 {
	color: var(--text-base-content);
}

.devices-page > p {
	max-width: 40rem;
	margin-top: var(--sp-3);
	font-size: 1.125rem;
	line-height: 1.7;
	color: var(--text);
}

.devices-page > p:first-of-type {
	margin-top: var(--sp-4);
}

.devices-page > ul {
	display: grid;
	margin: var(--sp-5) 0 0;
	padding: 0;
	gap: var(--sp-3);
	border-top-width: 0px;
}

@media (min-width: 768px) {
	.devices-page > ul {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

@media (min-width: 768px) {
	.devices-page ul.multi {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 1024px) {
	.devices-page ul.multi {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
