---
url: /events/halloween/
---
{{- set entry = contentPages.halloween }}
<article class="content halloween-page">
  <h1>{{ entry.title }}</h1>
  <div>{{ entry.body |> md }}</div>

  {{- for section of (entry.sections || []) }}
  {{ comp.HalloweenSection({ section }) }}
  {{- /for }}

  <hr />
</article>
{{ comp.Tip() }}
