---
import Page from '../../layouts/page.astro'
import PostPreview from '../../components/PostPreview.astro'
import Container from '../../components/Container.astro'

export async function getStaticPaths() {
  const pages = (await Astro.glob('./../post/*.{md,mdx}'))
    .filter((post) => !post.frontmatter.draft)
    .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())

  const allTags = pages
    .map((page) => page.frontmatter.tags)
    .reduce((prev, curr) => prev.concat(curr))

  const tags = [...new Set(allTags)].map((tag) => ({
    params: { tag },
  }))

  return tags
}

const { tag } = Astro.params

const posts = (await Astro.glob('./../post/*.{md,mdx}'))
  .filter((post) => !post.frontmatter.draft)
  .filter((post) => post.frontmatter.tags.includes(tag))
  .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
---

<Page>
  <Container>
    <p class="text-xl leading-7 text-secondary mb-3">{posts.length} articoli trovati con il tag</p>
    <h1
      class="text-3xl font-extrabold leading-9 tracking-tight text-base-content sm:text-4xl sm:leading-10 md:text-6xl md:leading-14 capitalize"
    >
      {tag}
    </h1>
    <!--<input
      type="text"
      placeholder="Cerca tra gli articoli"
      class="input input-bordered w-full md:max-w-xl my-10"
    /> -->
    <ul class="my-8 divide-y divide-primary-content">
      {posts.map((post) => <PostPreview post={post} />)}
    </ul>
  </Container>
</Page>
