---
import Page from '../layouts/page.astro'
import PostPreview from '../components/PostPreview.astro'
import Container from '../components/Container.astro'

const posts = (await Astro.glob('./post/*.{md,mdx}'))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
  .filter((post, index) => index < 5)
---

<Page>
  <Container>
    <p class="text-xl leading-7 text-secondary">Blog personale.</p>
    <ul class="my-8 divide-y-2 divide-gray-100">
      {posts.map((post) => <PostPreview post={post} />)}
    </ul>
  </Container>
</Page>
