---
import Page from '../layouts/page.astro'
import PostPreview from '../components/PostPreview.astro'
import Container from '../components/Container.astro'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./post/*.{md,mdx}'))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
  .filter((post, index) => index < 10)
---

<Page>
  <Container>
    <h1
      class="text-3xl font-extrabold leading-9 tracking-tight text-base-content sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
    >
      Tutti gli articoli
    </h1>
    <input
      type="text"
      placeholder="Cerca tra gli articoli"
      class="input input-bordered w-full md:max-w-xl my-10"
    />

    <ul class="my-8 divide-y-2 divide-gray-100 dark:divide-neutral-focus">
      {posts.map((post) => <PostPreview post={post} />)}
    </ul>

    <div class="pt-6 pb-8 space-y-2 md:space-y-5">
      <nav class="flex justify-between">
        <div class="text-neutral opacity-40">Precedente</div>
        <span>1 di 6</span>
        <a class="text-primary hover:text-primary-focus" href="/post/page/2">
          <button>Successivo</button>
        </a>
      </nav>
    </div>
  </Container>
</Page>
