---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'
---

<script is:inline>
  const LIGHT = 'corporate'
  const DARK = 'night'

  document.addEventListener('DOMContentLoaded', () => {
    const button = document.querySelector('#theme')

    button.addEventListener('click', () => {
      const html = document.querySelector('html')
      const current = html.getAttribute('data-theme')
      html.setAttribute('data-theme', current === LIGHT ? DARK : LIGHT)
    })
  })
</script>

<header class="text-gray-600 body-font">
  <div class="max-w-6xl mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-base-content mb-4 md:mb-0" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">{SITE_TITLE}</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <HeaderLink class="mr-5 hover:text-gray-900" href="/post">Cerca</HeaderLink>
      <HeaderLink class="mr-5 hover:text-gray-900" href="/about">About</HeaderLink>
      <HeaderLink class="mr-5 hover:text-gray-900" href="/tags">Tags</HeaderLink>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" id="theme"
        ><span class="dark:hidden">go dark</span><span class="hidden dark:inline">go light</span>
      </a>
    </nav>
    <!-- <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button> -->
  </div>
</header>
