<button
  class="book-spine"
  type="button"
  style="{{ utils.cssVars(utils.spineStyle(book)) }}"
  title="{{ book.title }} — {{ book.author }}"
  @click="open('{{ book.slug }}')"
>
  <span class="book-spine__text">
    <span class="book-spine__title">{{ book.title }}</span>
    <span class="book-spine__author">{{ book.author }}</span>
  </span>
</button>
