{{- set bsky = `https://bsky.app/intent/compose?text=${encodeURIComponent(`https://salvatorelaisa.blog/post/${slug}`)} @moebiusmania.bsky.social - ` }}
{{- set source = `https://github.com/moebiusmania/salvatorelaisa.blog/blob/main/content/${slug}.md` }}
<div class="sharing">
  <a target="_blank" rel="nofollow noopener noreferrer" href="{{ bsky }}">Parlane
    su Bluesky</a>
  <span>•</span>
  <a target="_blank" rel="nofollow noopener noreferrer" href="{{ source }}">Codice
    sorgente su GitHub</a>
</div>
